body {
  max-width: 72rem;
  padding: 2.5rem 3rem;
  font-size: 1.15rem;
  line-height: 1.65;
}

h1 {
  line-height: 1.2;
}

@media (max-width: 700px) {
  body {
    max-width: 100%;
    padding: 1rem;
    font-size: 1.05rem;
  }
}
